/* Basic editor styles */
.tiptap {
  margin-top: 0 !important;
}

/* List styles */
.tiptap ul,
.tiptap ol {
  padding: 0 1rem !important;
  margin: 1.25rem 1rem 1.25rem 0.4rem !important;
}

.tiptap ul li p,
.tiptap ol li p {
  margin-top: 0.25em !important;
  margin-bottom: 0.25em !important;
}

/* Heading styles */
.tiptap h1,
.tiptap h2,
.tiptap h3,
.tiptap h4,
.tiptap h5,
.tiptap h6 {
  line-height: 1.1 !important;
  margin-top: 2.5rem !important;
  word-wrap: break-word !important;
}

.tiptap h1,
.tiptap h2 {
  margin-top: 3.5rem !important;
  margin-bottom: 1.5rem !important;
}

.tiptap h1 {
  font-size: 1.4rem;
}

.tiptap h2 {
  font-size: 1.2rem !important;
}

.tiptap h3 {
  font-size: 1.1rem !important;
}

.tiptap h4,
.tiptap h5,
.tiptap h6 {
  font-size: 1rem !important;
}

/* Code and preformatted text styles */
.tiptap code {
  background-color: purple !important;
  border-radius: 0.4rem !important;
  color: black !important;
  font-size: 0.85rem !important;
  padding: 0.25em 0.3em !important;
}

.tiptap pre {
  background: black !important;
  border-radius: 0.5rem !important;
  color: white !important;
  font-family: "JetBrainsMono", monospace !important;
  margin: 1.5rem 0 !important;
  padding: 0.75rem 1rem !important;
}

.tiptap pre code {
  background: none !important;
  color: inherit !important;
  font-size: 0.8rem !important;
  padding: 0 !important;
}

.tiptap mark {
  background-color: #faf594 !important;
  border-radius: 0.4rem !important;
  padding: 0.1rem 0.3rem !important;
}

.tiptap blockquote {
  border-left: 3px solid gray !important;
  margin: 1.5rem 0 !important;
  padding-left: 1rem !important;
}

.tiptap hr {
  border: none !important;
  border-top: 1px solid gray !important;
  margin: 2rem 0 !important;
}
