annotated-types
anyio
certifi
cffi
charset-normalizer
click
colorama
confluent-kafka==1.7.0
cryptography
Deprecated
fastapi
h11
httpcore
httpx
idna
kafka-python
numpy
pandas
pycparser
pydantic
pydantic_core
PyGithub
PyJWT
PyNaCl
python-dateutil
python-dotenv
pytz
requests
six
sniffio
starlette
typing_extensions
tzdata
urllib3
uvicorn
wrapt
