annotated-types
anyio
beautifulsoup4
certifi
charset-normalizer
confluent-kafka==1.7.0
fastapi
idna
uvicorn
JPype1
konlpy
lxml
numpy
packaging
pydantic
pydantic_core
requests
sniffio
soupsieve
starlette
typing_extensions
urllib3
