@charset "UTF-8";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 기본 스크롤바 */
html {
  -webkit-text-size-adjust: none;
}
::-webkit-scrollbar {
  width: 8px;
  height: 6px;
  border-radius: 6px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background: #e4e4e4;
  border-radius: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 6px;
}
